			<div id="content">			<div id="primer">
			<div class="primer_top"><div class="right"></div></div>
				<h2>许可协议</h2>
				<p>我们允许您免费使用MyBB，但请您尊重我们产品的版权，并且希望您对待它就像您希望别人对待您的产品一样。MyBB许可协议是一个法律文件，其中概述了限制，包括你对MyBB副本可以和不可以做的事情。安装MyBB表明您同意下面这些条款。</p>
			<div class="primer_bottom"><div class="right"></div></div>
			</div>
<div id="sidebar">
	<div class="item">
	<div class="sidebar_top"><div class="right"></div></div>
		<h3>关于</h3>
		<ul>
			[mybbchina:nav]
		</ul>
	<div class="sidebar_bottom"><div class="right"></div></div>
	</div>
	<div class="item">
	<div class="sidebar_top"><div class="right"></div></div>
		<h3><a href="[mybbchina:siteurl]/contact/piracy.html">举报盗版</a></h3>
		<p>如果您怀疑某个论坛是违反MyBB许可协议的，可以将其报告给我们。</p>
		<p><a href="[mybbchina:siteurl]/contact/piracy.html">报告违规</a></p>
	<div class="sidebar_bottom"><div class="right"></div></div>
	</div>
</div>
<div id="page">
	<div class="item">
		<h3>许可协议</h3>
		<h4>重要 - 请仔细阅读</h4>
<pre>
[mybbchina:license]
</pre>	</div>
</div>
			</div>
			<!--FF_IGNORE-->