			<div id="content">				<div id="primer">
				<div class="primer_top"><div class="right"></div></div>
						<h2>关于mybb中文化本地化团队</h2>
						<p>在此网页上列出人们是 "MyBB组" 的一部分。如果你也想出现在这张清单中，请联系我们，当然前提是你是我们的会员并为MyBB中文化本地化做出了贡献。MyBB的开发者们非常伟大，你可能还希望了解一下他们，你可以访问mybb官方网站来查看<a href="http://www.mybboard.net/about/team/" target="_blank">他们</a>。</p>
				<div class="primer_bottom"><div class="right"></div></div>
				</div>
				<div id="sidebar">
					<div class="item">
					<div class="sidebar_top"><div class="right"></div></div>
						<h3>关于</h3>
						<ul>
							[mybbchina:nav]
						</ul>
					<div class="sidebar_bottom"><div class="right"></div></div>
					</div>
					<div class="item">
					<div class="sidebar_top"><div class="right"></div></div>
						<h3>关于团队</h3>
						<ul>
							<li><a href="http://community.mybbchina.net/showteam.php">MyBB中文站管理团队</a></li>
							<li><a href="http://wiki.mybboard.net/index.php/MyBB_Team">MyBB团队 WIKI</a></li>
						</ul>
					<div class="sidebar_bottom"><div class="right"></div></div>
					</div>

						<!--FF_IGNORE-->
	<div class="item">
		<div class="sidebar_top"><div class="right"></div></div>
		<h3>用户反馈</h3>
		<p>[mybbchina:userfeedback]</p>
		<div class="sidebar_bottom"><div class="right"></div></div>
	</div>
	<!--FF_END_IGNORE-->
				</div>
				<div id="page">
					<div class="item">
						<h3>参与MyBB中文版制作维护的人员</h3>

						<h4>以下人员名单为参与MyBB中文化本地化的人员</h4>
									
			<table class="standard_table" summary="MyBB team members">
				<thead>
					<tr>
						<th>名字</th>
						<th>角色</th>
						<th>论坛个人资料</th>

						<th>个人网站</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th class="row">MyBB中文站</th>
						<td>翻译简体繁体中文语言包，图片按钮制作，部分mybb文件，插件，主题，模板，mybb中文资源包等</td>

						<td><a href="http://www.mybbchina.net/">MyBB中文站</a></td>
						<td><a href="http://www.mybbchina.net/">http://www.mybbchina.net/</a></td>
					</tr>
					<tr class="alt">
						<th class="row">hightman</th>
						<td>翻译简体中文部分前台语言文件</td>
						<td><a href="http://community.mybbchina.net/user-25.html">hightman</a></td>
						<td><a href="http://www.fcphp.com">http://www.fcphp.com</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
			</div>
			<!--FF_IGNORE-->