			<div id="content">	<div id="primer">
	<div class="primer_top"><div class="right"></div></div>
		<h2>关于 中文MyBB</h2>
		<p>MyBB并不是突然出现的-之前一直是DevBB,后来才被MyBB取代。有过很长的不断发展的历史,MyBB是一个成熟的论坛系统。</p>
	<div class="primer_bottom"><div class="right"></div></div>
	</div>
	<div id="sidebar">
		<div class="item">
		<div class="sidebar_top"><div class="right"></div></div>
			<h3>关于</h3>
			<ul>
				[mybbchina:nav]
			</ul>
		<div class="sidebar_bottom"><div class="right"></div></div>
		</div>
	
		<!--FF_IGNORE-->
	<div class="item">
		<div class="sidebar_top"><div class="right"></div></div>
		<h3>用户反馈</h3>
		<p>[mybbchina:userfeedback]</p>
		<div class="sidebar_bottom"><div class="right"></div></div>
	</div>
	<!--FF_END_IGNORE-->
</div>
<div id="page">
	<div class="item">
		<h3>不是XMB，也不是DevBB，而是 <em>MyBB</em></h3>
		<h4>MyBB的发展根源在于<acronym title="eXtreme Messaging Board">XMB</acronym>和<acronym title="Developing Bulletin Board">DevBB</acronym>论坛</h4>
		<p>
			几年前，克里斯博尔顿， web34rk和b0ndman开始开发XMB 。
			一段时间后， web34rk和b0ndman离开了团队,然后克里斯和其他两个开发者组成了新的团队。
			随着时间的推移，工作人员再次离开并且几个开发商不喜欢XMB这个名字。(翻译不​太好,大概是这个意思吧).他们一起放弃XMB并创建了DevBB 。
			DevBB是MyBB的前身，这时一个临时解决办法，而MyBB正在拟订中。开发团队经常更换，但自2002年以来以克里斯博尔顿牵头开发的MyBB仍然存在。
		</p>
	</div>
	
	<div class="item">
		<h3>有趣的事实</h3>
		<h4>关于MyBB你所不知道的</h4>
		<ul>
			<li>MyBB社区在2006年6月至2006年8月从2000个增长到5000个成员。一个月增长1000！</li>
			<li>开发者们只能利用业余时间来开发MyBB，但他们仍然设法修复了400多个漏洞-包括无数的小建议-在MyBB1. 2测试版的7周时间里！</li>
			<li>支持论坛通常在1小时内做出支持回答。这是多么的高效,而且是免费的!</li>
			<li>MyBB 1.4由10多万行源代码组成！（空白行和注释，不包括在内。）</li>
		</ul>
	</div>
</div>
			</div>