			<div id="content">	<div id="primer">
	<div class="primer_top"><div class="right"></div></div>
		<h2>关于社区</h2>
		<p>是MyBB社区成就了MyBB，如果没有社区，MyBB什么也不是。MyBB的社区是友好和积极的，还有一些外部的爱好者网站群特别值得一提。</p>
	<div class="primer_bottom"><div class="right"></div></div>
	</div>
	<div id="sidebar">
		<div class="item">
		<div class="sidebar_top"><div class="right"></div></div>
			<h3>关于</h3>
			<ul>
				[mybbchina:nav]
			</ul>
		<div class="sidebar_bottom"><div class="right"></div></div>
		</div>
	
		<!--FF_IGNORE-->
	<div class="item">
		<div class="sidebar_top"><div class="right"></div></div>
		<h3>用户反馈</h3>
		<p>[mybbchina:userfeedback]</p>
		<div class="sidebar_bottom"><div class="right"></div></div>
	</div>
	<!--FF_END_IGNORE-->
</div>
<div id="page">
	<div class="item">
		<h3>MyBB 爱好者</h3>
		<h4>MyBB爱好者建立的网站</h4>
		<p>MyBB Fans 网站是由 MYBB 爱好者建立的网站！这是一个由其他爱好者使用临时设置安装的地方，并且获取MyBB最新的消息。此外，它还具有先进的MyBB论坛目录，允许您添加您的论坛到这个目录中，甚至可以抓取您论坛的统计信息放到该网站上。如果您想推广您的MyBB论坛,我们强烈推荐MyBB Fans 网站<br />
<a href="http://www.mybbfans.com/" class="read_more external">访问 MyBB Fans 网站...</a></p>
	</div>
</div>
			</div>
			<!--FF_IGNORE-->