			<div id="content">				
				<div id="primer">
				<div class="primer_top"><div class="right"></div></div>
					<h2>关于</h2>
					<p>MyBB是一个已经有一段历史的论坛软件，今天它已经从其它布告栏成为了论坛软件。它是一个由积极的开发团队开发的专业和高效率的论坛软件。MyBB的发展历史已经记录，可供感兴趣的朋友阅读。您还可以阅读更多关于MyBB团队以及他们为什么利用业余时间来开发MyBB。我们也想强调最活跃和促进MyBB社区发展的爱好者网站群。</p>
				<div class="primer_bottom"><div class="right"></div></div>
          			</div>
				<div id="sidebar">
					<div class="item">
					<div class="sidebar_top"><div class="right"></div></div>
						<h3>关于</h3>
						<ul>
							[mybbchina:nav]
						</ul>
					<div class="sidebar_bottom"><div class="right"></div></div>
					</div>

						<!--FF_IGNORE-->
	<div class="item">
		<div class="sidebar_top"><div class="right"></div></div>
		<h3>用户反馈</h3>
		<p>[mybbchina:userfeedback]</p>
		<div class="sidebar_bottom"><div class="right"></div></div>
	</div>
	<!--FF_END_IGNORE-->
				</div>
				<div id="page">
					<div class="item">
						<h3>关于MyBB</h3>
						<h4>一切是如何开始又是如何走到今天这样的</h4>
						<p>MyBB从其它布告栏一步步发展到今天的成就。它遭遇了许多的工作人员变动以及外观变化。很困惑-但是，我们整理了整个故事给你。<br />
						<a href="[mybbchina:siteurl]/about/mybb" class="read_more">阅读更多关于MyBB...</a></p>
					</div>
					<div class="item">
						<h3>关于社区</h3>
						<h4>突出是什么使MyBB社区变得特别</h4>
						<p>MyBB最特别的应该是MyBB社区。没有哪一个论坛能像MyBB社区这样友好和乐于助人。社区的杰出在于它发起新的MyBB项目和他们本身的资源。MyBB社区甚至建立了自己的爱好者网站群，聚集着最近的新闻和有关于MyBB的任何信息，MyBB优缺点的讨论等等。我们认为这是值得强调的部分用户创建的爱好者网站群<br />
						<a href="[mybbchina:siteurl]/about/community" class="read_more">阅读更多关于社区...</a></p>

					</div>
					<div class="item">
						<h3>关于团队</h3>
						<h4>仔细的看看使MyBB成为可能的人们</h4>
						<p>MyBB团队是一群专注于的人，他们乐于使伟大的互联网软件变得免费。他们花费了大量的业余时间用来改进MyBB。不管是在论坛社区提供支持、为MyBB代码增加新的特色、维护wiki、创建插件还是其它什么东西--每个人都对MyBB项目做出了大量的贡献。<br />
						<a href="[mybbchina:siteurl]/about/team" class="read_more">阅读更多关于团队...</a></p>
					</div>

					<div class="item">
						<h3>MyBB 许可证</h3>
						<h4>安装或使用MyBB之前你必须同意此许可</h4>
						<p>虽然MyBB是免费的，但也有一些条件，您必须同意才被允许使用MyBB。这些条件在这 <a href="[mybbchina:siteurl]/about/license">MyBB EULA</a>。安装程序中也有这些条款。<br />
						<a href="[mybbchina:siteurl]/about/license" class="read_more">阅读MyBB许可...</a></p>
					</div>
				</div>
			</div>
			<!--FF_IGNORE-->