			<div id="content">

				<div id="primer">
				<div class="primer_top"><div class="right"></div></div>
						<h2>下载</h2>
						<p>MyBB拥有大量的内置功能，可以帮助您控制论坛。您可能要自定义您的论坛，通过安装不同的主题，以改变其外观。您还可以安装插件添加新功能到您的MyBB论坛。使用<a href="http://community.mybbchina.net/forum-5.html">MyBB合并系统</a>，您可以从另一个论坛系统转换到MyBB论坛。我们甚至提供了许多MyBB的<a href="[mybbchina:siteurl]/downloads/translations">翻译</a>，这样你建立一个西班牙语论坛就像建立英语论坛一样简单。</p>
				<div class="primer_bottom"><div class="right"></div></div>
				</div>
				<div id="sidebar">
					<div class="item">
					<div class="sidebar_top"><div class="right"></div></div>
						<h3>下载</h3>
						<ul>

							<li><a href="http://community.mybbchina.net/forum-12.html"><strong>&raquo; 最新发布的MyBB</strong></a></li>
							<li><a href="http://wiki.mybboard.net/index.php/Installing">安装MyBB Wiki</a></li>
<li><a href="http://community.mybbchina.net/forum-5.html" title="Convert from another bulletin board to MyBB">MyBB 合并系统</a></li>
							<li><a href="[mybbchina:siteurl]/downloads/translations">翻译</a></li>
							<li><a href="http://community.mybbchina.net/forum-7.html">插件</a></li>
							<li><a href="http://community.mybbchina.net/forum-8.html">主题</a></li>
						</ul>
					<div class="sidebar_bottom"><div class="right"></div></div>
					</div>
					<div class="item">
					<div class="sidebar_top"><div class="right"></div></div>
						<h3>资源站点</h3>
						<p>查看一下这些 MyBB 资源站点获取更多 MyBB 主题, 插件, 小贴士和主机.</p>
						<ul>
							<li><a href="http://www.createmybb.com/">CreateMyBB</a></li>
							<li><a href="http://www.mybbcentral.com/">MyBB Central</a></li>
							<li><a href="http://www.mybbfans.com">MyBB Fans</a></li>
							<li><a href="http://mybbthemes.8ez.com/">MyBB Themes</a></li>
							<li><a href="http://www.mybb-themes.com/">MyBB Design</a></li>
							<li><a href="http://www.mybbsource.com/">MyBB Source</a></li>
						</ul>
					<div class="sidebar_bottom"><div class="right"></div></div>
					</div>

						<!--FF_IGNORE-->
	<div class="item">
		<div class="sidebar_top"><div class="right"></div></div>
		<h3>用户反馈</h3>
		<p>[mybbchina:userfeedback]</p>
		<div class="sidebar_bottom"><div class="right"></div></div>
	</div>
	<!--FF_END_IGNORE-->

				</div>
				<div id="page">
					<div class="item">
						<a class="download_button" href="http://www.mybbchina.net/download/latest.zip">
						<span class="download">立刻下载</span>
						<span class="version_size">MyBB中文版最新版</span>
						<span class="type_size">ZIP</span>
						</a>
						<h3>下载 MyBB中文版最新版</h3>
						<h4>一个可以开始你的论坛的核心安装包</h4>
						<p>这里可以下载最新发布的中文版本的 MyBB 的 <a href="http://www.mybbchina.net/download/latest.zip"><strong>ZIP</strong></a> 安装包.</p>

					</div>
					<div class="item">
						<h3>下载合并系统</h3>
						<h4>从其它论坛系统转换到 MyBB 论坛系统</h4>
						<p>MyBB 提供 MyBB 合并系统, 但是并没有附加到默认的 MyBB 安装包中, 允许你从其它论坛系统转换到 MyBB 论坛系统, 并且可以合并他们到一个已经存在的 MyBB 论坛中. 你也可以合并不同的 MyBB 论坛为一个论坛, 允许你简单的将两个论坛结合成一个论坛. 合并系统是模块化的, 这意味着你可以只转换你需要转换的项目 - 例如只转换用户, 板块, 帖子, 还有主题. MyBB 合并系统目前还在候选发布阶段, 仅提供有限的支持.<br />
						<a href="http://community.mybbchina.net/forum-5.html" class="read_more external">下载 MyBB 合并系统...</a></p>
					</div>
					<div class="item">
						<h3>下载翻译文件</h3>
						<h4>使您的访客可以使用各自不同的语言访问您的论坛</h4>
						<p>默认情况下MyBB配备的英语语言包。然而， MyBB社区提供了大量的官方MyBB翻译。这些语言包是高品质的，将有助于您的论坛社区使用您想要的语言。使用MyBB语言管理，您可以在几分钟内安装语言包。甚至有语言包可用于从右到左的语言。<br />
						<a href="[mybbchina:siteurl]/downloads/translations" class="read_more">查看 MyBB 翻译列表...</a></p>
					</div>

					<div class="item">
						<h3>下载插件</h3>
						<h4>是什么使MyBB社区变得特殊</h4>
						<p>插件可以扩展MyBB默认的功能和提供更多的选择，不管用于论坛管理员或论坛的用户。在管理员控制面板中使用插件管理器非常易于安装和启动它们。MyBB社区提供了非常有用和有趣的插件以供使用。在您浏览可用于MyBB的插件之前, 你应该先阅读<a href="http://wiki.mybboard.net/index.php/Plugins">关于插件的维基</a>。<br />
						<a href="http://community.mybbchina.net/forum-7.html" class="read_more">查看 MyBB 插件列表...</a></p>
					</div>

					<div class="item">
						<h3>下载主题</h3>
						<h4>给你的 MyBB 一个自定义或不同的外观</h4>
						<p>给您的论坛一种独特的感觉，这里有个性化的主题供MyBB使用 。这些大多是由MyBB社区的会员创建的. 主题允许您更改论坛的外观和感觉，让游客认识到您的论坛是唯一的。 MyBB自带一个直观的，简单的主题编辑器，它可以让您改变论坛的每一个方面的外观。您可以修改默认的主题，建立一个全新的主题，或修改现有主题。<br />
						<a href="http://community.mybbchina.net/forum-8.html" class="read_more">查看 MyBB 主题列表...</a></p>
					</div>
				</div>
			</div>