			<div id="content">	<div id="primer">
	<div class="primer_top"><div class="right"></div></div>
		<h2>简单易用</h2>
		<p>为了使MyBB的用户界面更加简单易用, 我们进行了大量的思考。MyBB使用标准的论坛结构，使您的访问者很快就能熟悉MyBB的使用方式。您的访问者可以使用MyBB用户控制面板来自定义他们访问论坛的方式或者自定义他们想看到的论坛的内容, 如可以设置不显示会员的头像和签名等, 自由无处不在, 您可以尽情地定制自己想要的。他们还可以方便地发表和答复一个主题并且标记与他们有关的主题。论坛管理员和版主可以使用MyBB的内置编辑器和版主工具等功能，控制并维护论坛。</p>
	<div class="primer_bottom"><div class="right"></div></div>
	</div>
	<div id="sidebar">
		<div class="item">
		<div class="sidebar_top"><div class="right"></div></div>
			<h3>功能亮点</h3>
			<ul>
				[mybbchina:nav]
			</ul>
		<div class="sidebar_bottom"><div class="right"></div></div>
		</div>

		<!--FF_IGNORE-->
	<div class="item">
		<div class="sidebar_top"><div class="right"></div></div>
		<h3>用户反馈</h3>
		<p>[mybbchina:userfeedback]</p>
		<div class="sidebar_bottom"><div class="right"></div></div>
	</div>
	<!--FF_END_IGNORE-->
	</div>

	<div id="page">
	<div class="item">
		<h3>合理的规划</h3>
		<h4>MyBB的界面立足于方便使用而建立</h4>
		<p>MyBB经过了大量的实践, 最终确定了这个合理的规划, 这给大家提供了一个易于使用和直观的界面。无论是普通的功能还是独特的功能都贯穿于整个MyBB。全面贯穿于MyBB的这些功能, 非常容易找到而且没有对实用性做出让步。这可以从以下几点看出，在回帖页面，用户可以方便的讨论也可以方便的到达用户控制面板. 他们可以随时跳转到想去的版块, 可以方便的编辑自己的帖子而无需重新加载整个页面, 也可以方便的编辑标题, 而无须加载帖子的内容. 当然这些方便性在 <a href="[mybbchina:siteurl]/features/administration">管理员控制面板</a> 中也无处不在。<br />
		<a href="[mybbchina:siteurl]/assets/screenshots/user_cp.png" class="read_more">查看MyBB用户控制面板截图</a></p>
	</div>
	<div class="item">
		<h3>先进的版主工具</h3>
		<h4>版主的大量工作变得简单</h4>
		<p>MyBB的版主功能很强大, 是你在任何一个论坛软件中所期望的. 他们的成熟提供了一个简单易用的用户界面使得版主工作变得方便. 内置的版主工具可以满足大部分版主操作, 如同时处理多个帖子或回复. 例如, 你可以批量移动选定的主题到另一个版块, 或者只移动一个. MyBB还提供了自定义版主工具, 允许您创建自己的版主工具, 这样您在执行帖子或回复操作时可以只需一个点击就完成你所设定的所有操作. 这允许你, 管理员, 在MyBB中创建组合了大量的版主操作的工具成为可能.<br />
		<a href="[mybbchina:siteurl]/assets/screenshots/mod_tools.png" class="read_more">查看自定义版主工具截图</a></p>
	</div>
	<div class="item">
		<h3>插件, 无处不在的插件系统</h3>
		<h4>插件使扩展您的论坛变得很简单</h4>
		<p>MyBB的插件系统让您可以方便地添加修改到您现有的MyBB论坛，而不需要编辑修改一个单独的文件。有各种各样的插件，可用于各种用途，从简单的，如允许多个声望，到复杂的，如短消息管理系统。不需要编辑修改一个文件，就可以添加多种附加功能到您的论坛。<br />
		<a href="[mybbchina:siteurl]/features/plugin-system" class="read_more">阅读更多关于MyBB的插件...</a><br />
		<a href="[mybbchina:siteurl]/assets/screenshots/plugin_manager.png" class="read_more">查看管理员控制面板插件管理器截图</a></p>
	</div>
        </div>
			</div>