			<div id="content">	<div id="primer">
	<div class="primer_top"><div class="right"></div></div>
		<h2>管理</h2>
		<p>为了使MyBB的用户界面更加简单易用, 我们进行了大量的思考。MyBB使用标准的论坛结构，使您很快就能熟悉MyBB后台的使用方式。您可以使用MyBB管理员控制面板来自定义您访问论坛的方式或者自定义您想看到的论坛的内容, 如可以设置不显示会员的头像和签名等, 自由无处不在, 您可以尽情地定制自己想要的。您还可以方便地发表和答复一个主题并且标记与您有关的主题。论坛管理员和版主可以使用MyBB的内置编辑器和版主工具等功能，控制并维护论坛。</p>
	<div class="primer_bottom"><div class="right"></div></div>
	</div>
	<div id="sidebar">
		<div class="item">
		<div class="sidebar_top"><div class="right"></div></div>
			<h3>功能亮点</h3>
			<ul>
				[mybbchina:nav]
			</ul>
		<div class="sidebar_bottom"><div class="right"></div></div>
		</div>
		<!--FF_IGNORE-->
	<div class="item">
		<div class="sidebar_top"><div class="right"></div></div>
		<h3>用户反馈</h3>
		<p>[mybbchina:userfeedback]</p>
		<div class="sidebar_bottom"><div class="right"></div></div>
	</div>
	<!--FF_END_IGNORE-->
	</div>
	<div id="page">
	<div class="item">
		<h3>先进, 直观</h3>
		<h4>MyBB的管理员控制面板拥有最先进的控制器</h4>
		<p>MyBB的管理员控制面板非常先进并且允许广泛的自定义, 而且它的布局非常直观并且易于使用. 例如, 论坛的权限系统控制着非常大量的设置, 如何使这些设置能够分门别类并且在你要使用它的时候很快就能找到, 包括从组和版块继承权限, 迅速且深入的权限编辑器, 还有从别的版块复制权限到另一个版块. MyBB的管理员控制面板被设计为能够非常方便的执行大多数的基本改变和全面的个性化, 这也是大多数论坛管理员需要的.<br />
		<a href="[mybbchina:siteurl]/assets/screenshots/forum_permissions.png" class="read_more">查看论坛权限截图</a></p>
	</div>
	<div class="item">
		<h3>制作主题是轻而易举的事情</h3>
		<h4>个性化你的论坛外观非常简单</h4>
		<p>MyBB的主题制作系统允许您直接在管理员控制面板中通过几次点击就可以个性化您的论坛. 不光是颜色和一般的样式, 还可以深入到模板和HTML. 你可以使一个现有的MyBB主题变得完全不同. 另外, 主题管理器使用AJAX技术加速载入速度并且可以单独保存同一个CSS文件中不同的CSS项目. 您不必钻研PHP和巨大的样式表; 您只需要一点 <acronym title="Cascading Style Sheets">CSS</acronym> 和 <acronym title="HyperText Mark-up Language">HTML</acronym> 的基本知识. 您也可以通过高级CSS编辑器直接编辑CSS文件, 这适用于高级用户.<br />
		<a href="[mybbchina:siteurl]/assets/screenshots/theming.png" class="read_more">查看在管理员控制面板中制作主题截图</a></p> 
        </div>
</div>
			</div>