			<div id="content">				<div id="primer">
				<div class="primer_top"><div class="right"></div></div>
					<h2>功能</h2>
					<p>MyBB是一个功能完整并且非常实用的论坛软件，MyBB中文站负责制作并发布了它的中文版本,使广大的中国站长也能使用上这么优秀的论坛软件, 使用它可以帮助您尽可能容易的管理您的论坛。我们特别强调了一些MyBB最好的功能，用来告诉你为什么要选择MyBB而不选择其它论坛软件。你可以在本页左侧的导航中找到这些突出的功能。当然, 我们也有一个<a href="[mybbchina:siteurl]/features/more-features">基本功能概况</a>列表，其中列有最常见的一般功能。</p>
				<div class="primer_bottom"><div class="right"></div></div>
				</div>
				<div id="sidebar">
					<div class="item">
					<div class="sidebar_top"><div class="right"></div></div>
						<h3>功能亮点</h3>
						<ul>
							[mybbchina:nav]
						</ul>
					<div class="sidebar_bottom"><div class="right"></div></div>
					</div>
						<!--FF_IGNORE-->
	<div class="item">
		<div class="sidebar_top"><div class="right"></div></div>
		<h3>用户反馈</h3>
		<p>[mybbchina:userfeedback]</p>
		<div class="sidebar_bottom"><div class="right"></div></div>
	</div>
	<!--FF_END_IGNORE-->
        			</div>
				<div id="page">
					<div class="item">
						<h3>安全</h3>
						<h4>MyBB始终将安全放在第一位.</h4>
						<p>我们已经进行了大量的测试以保证MyBB的安全. 我们已经进行了安全审核并且重写了代码以确保没有遗留下任何已知漏洞. 如果一个漏洞被发现,您可以确信,我们已经做好了准备,以便于能够及时发布补丁.</p>
					</div>
					<div class="item">
						<h3>速度</h3>
						<h4>速度如此之快以至于你措手不及</h4>
						<p>MyBB已经针对任何场合下的运行速度进行过优化, 不管是大型还是小型论坛, 速度都是飞快的. 当我们要改变MyBB的内核的时候, 我们首先会确保论坛运行速度不会受到影响. 部分功能已经重写用来针对大型论坛进行优化.不管您的论坛规模是大还是小, 有一点是肯定的, 那就是MyBB可以给你提供一个你想要的速度.</p>
					</div>
					<div class="item">
						<h3>AJAX</h3>
						<h4>MyBB利用AJAX来增强其功能</h4>
						<p>MyBB中AJAX技术的使用无处不在, 这使得每个功能更快更容易使用。在MyBB 1.2中 ，添加了内置编辑器以允许更快的在帖子页面就可以编辑帖子并且可以在主题列表页面编辑主题的标题，让您不必加载整个网页就可以做些简单的编辑。此外，私人短消息添加了自动完成功能，这样, 您想要给某个用户写信变得更容易了。MyBB 1.4增加了更多的基于AJAX的功能，如更新的快速回复，标记一个论坛为已读，更新的好友/忽略列表管理器，更新的主题评级系统，从您的好友清单选择收件人。管理员控制面板也使用了一些AJAX ，如搜索设置和主题管理器。细致的AJAX用户界面无所不在，这使得MyBB更容易使用。</p>
					</div>
					<div class="item">
						<h3>内置版主管理工具</h3>
						<h4>MyBB的内置版主管理工具使管理变得简单</h4>
						<p>在整个MyBB论坛和主题页面都可以找到内置的版主管理工具, 这样做使得版主的大批量的管理操作变得轻而易举. 内置的版主管理工具允许您在处理多个主题或者帖子或者只是一个主题或帖子的时候执行同样的操作. 您也可以使用MyBB自定义版主工具创建您自己的版主工具. 内置版主管理工具只是MyBB庞大的版主系统中的一个简单的例子.</p>
					</div>
					<div class="item">
						<h3>权限</h3>
						<h4>庞大的权限系统，允许完全控制</h4>
						<p>MyBB 以一个庞大的设置工具能够完全控制您的用户访问论坛的不同部分为特色. 每一个用户组都为论坛中不同的功能设置了一个庞大的权限系统, 以及每一个版块也可以有各自不同的权限. 使用MyBB, 您可以非常容易的控制各个不同级别的会员, 也可以非常容易的阻止某些组访问论坛的任何部分, 而其他人却可以访问.</p>
					</div>
				</div>
			</div>