			<div id="content">	<div id="primer">
	<div class="primer_top"><div class="right"></div></div>
		<h2>MyBB 1.4 功能浏览</h2>
		<p>MyBB 1.4 是大多数强大的免费的PHP和MySQL论坛软件中重要的一员. 这里有50多个新功能, 很多幕后的优化和完全重写的管理员控制面板. 通过下面浏览确切的更新内容的小图标和MyBB 1.4的改进, 或者 <a href="[mybbchina:siteurl]/features/whats-new">查看完整列表</a>.</p>
	<div class="primer_bottom"><div class="right"></div></div>
	</div>
	<div id="sidebar">
		<div class="item">
		<div class="sidebar_top"><div class="right"></div></div>
			<h3>功能亮点</h3>
			<ul>
				[mybbchina:nav]
			</ul>
		<div class="sidebar_bottom"><div class="right"></div></div>
		</div>
		<!--FF_IGNORE-->
	<div class="item">
		<div class="sidebar_top"><div class="right"></div></div>
		<h3>用户反馈</h3>
		<p>[mybbchina:userfeedback]</p>
		<div class="sidebar_bottom"><div class="right"></div></div>
	</div>
	<!--FF_END_IGNORE-->
	</div>
	<div id="page">
	<div class="item">
	
		<h3>管理员控制面板</h3>
		<h4>从底层代码重新开发</h4>

		<p>MyBB 1.4包含一个全新的管理员控制面板，已经从底层代码完全重新开发过的管理员控制面板, 更加容易使用，同时让您完全控制您的论坛。在论坛业丰富的经验告诉我们一件事：控制面板设计不当导致越来越多的失望和论坛维护难度的增加。我们已经花了时间规划MyBB控制面板，并重新开发，以确保它易于使用，并且提高效率。</p>

<p><img src="[mybbchina:siteurl]/assets/images/tour/admincp.png" alt="MyBB 控制面板" style="border: 1px solid #777" /></p>

<h4>整合到六个逻辑区域</h4>
<p>通常大家登陆后台就是为了做一下这些相关的事情: 配置, 用户和组的管理或者版块和内容的管理. 我们已经打破了以前的控制面板格局以便于你能一眼就看到你需要的, <em>当你需要以下某个功能的时候</em>:</p>
<ul>
<li>主页 - 您论坛的概述 (控制台)</li>
<li>配置 - 配置论坛相关的所有选项都在这里 (设置, 封禁, 日历等)</li>
<li>版块和帖子 - 内容管理 (版块, 公告, 权限等)</li>
<li>用户和组 - 用户和组的管理 (用户, 组, 晋升, 邮件群发等)</li>
<li>模板和风格 - 设计管理 (模板, 主题等)</li>
<li>工具和维护 - 一般系统实用工具 (系统健康, 日志, 备份等)</li>
</ul>

<h4>强大的可管理的用户查看器</h4>
<p>用户搜索结果可以保存为用户查看器. 例如, 你可能想创建一个用户查看器, 其中的用户主要是论坛工作人员, 比如管理员, 超级版主和版主. 这个搜索结果就可以保存成一个用户查看器, 你甚至可以给它起个名字叫做"论坛工作人员", 日后想快速查看这些用户只需点击一下就可以完成, 而不必每次都设定条件去查询. 当然, 你也可以设定只显示你需要的信息, 比如用户名, 电子邮件地址, 注册时间等.</p>
<p><img src="[mybbchina:siteurl]/assets/images/tour/user-card.png" alt="MyBB 控制面板 (用户管理)" style="border: 1px solid #777" /></p>

<h4>通过皮肤完全个性化</h4>
<p>新的控制面板可以通过使用内部皮肤系统完全个性化. 这里也要感谢级联样式表(CSS)的广泛使用, 对于大多数设计上的修改只需要简单的编辑一下样式表就可以完成. 广为赞誉的 "Sharepoint" 控制面板主题现在已经登陆 MyBB 1.4:</p>
<p><img src="[mybbchina:siteurl]/assets/images/tour/sharepoint.png" alt="MyBB 控制面板 (Sharepoint 主题)" style="border: 1px solid #777" /></p>

		<hr />
		<div class="float_right">
			<a href="[mybbchina:siteurl]/features/feature-tour/mod-cp">版主控制面板 &raquo;</a>
		</div>
		&nbsp;
	</div>	
</div>
			</div>